<ul>
    <li *ngFor="let item of numbers; index as len">
        {{len+1}}\ {{item}}
    </li>
</ul>

<!--
    index: number:索引
    count: number:长度
    first: boolean
    last: boolean
    even: boolean
    odd: boolean
    trackBy: 避免每次修改数组都要加载所有数据，优化性能
-->


<!--全套循环遍历-->
<ul>
    <li *ngFor="let item of list; index as i; count as len; first as isFirst; odd as isOdd">
        <p [ngStyle] = "{backgroundColor: isOdd ? 'red' : 'green', color: '#fff'}">
            {{i}}:{{item.name}} 
            <span *ngIf="isFirst == true">{{len}}</span>
        </p>
    </li>
</ul>