<!-- <p>ng-switch works!</p> -->
<button (click)="value = '1'">small_red</button>
<button (click)="value = '2'">small_mimng</button>
<button (click)="value = '3'">laowang</button>

<div [ngSwitch]="value">
    <div *ngSwitchCase="'1'">I like red</div>
    <div *ngSwitchCase="'2'">I do not like red</div>
    <div *ngSwitchDefault>laowang</div>
</div>