<!--<app-ngif></app-ngif>-->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ngbind></app-ngbind> -->
<!-- <app-ngstyleclass></app-ngstyleclass> -->
<!-- <app-ngmodel></app-ngmodel> -->
<!-- <app-ngfor></app-ngfor> -->
<app-parent></app-parent>