<h1 [ngClass]="{red: true, bgblue: true }">
    {{ title }}
</h1>

<h1 [ngClass]="{'red bgblue': flagClass }">
    {{ title }}
</h1>

<button (click)="flagClass = !flagClass">switch</button>

<h1 [ngClass]="['red', 'f60', flagClass ? 'bgblue': '']">
    {{ title }}
</h1>

<hr>
<hr>

<div [ngStyle]="{color: flagClass ? 'red' : 'yellow'}">
    I am not react
</div>

<div [ngStyle]="ObjStyle">
    obj
</div>